

footer{
	
 
  height: 64px; /* height = body margin-bottom */
 
  width: 100%;
  margin:0px;

	border: 1px solid #000;
	background-color: #000;
	color:#fff;
	padding: 10%;
	text-align: center;
}

.page-body{
	
	padding: 5%;
}

img{
	width: 80%;
	height: 10%;
}

header{
	color:green;
}

